fastapi
uvicorn[standard]
pydantic-settings
pydantic[email]
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
langchain
langchain-google-genai
google-generativeai
SpeechRecognition
gTTS
python-multipart
aiofiles
langchain-groq
langchain-openai
pandas
python-jose[cryptography]
passlib[bcrypt]
pypdf
qrcode[pil]
pgvector
langchain-community
langchain-huggingface
sentence-transformers
tiktoken
langchain-text-splitters
langchain_text_splitters